body {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
  
}

/* Filters */
.filters button {
  padding: 8px 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

/* Gallery Layout */
.gallery {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
    
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s, filter 0.4s;
}

/* Hover Effects */
.gallery img:hover {
  color: #169ea0;
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* Lightbox */
#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  width: 70%;
  border-radius: 10px;
}

#lightbox button, #lightbox span {
  position: absolute;
  background: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

#lightbox span {
  top: 20px;
  right: 30px;
}

/* Responsive */
@media (max-width: 600px) {
  #lightbox img {
    width: 90%;
  }
}
